@import "./reset.css";

@media screen and (max-width: 360px) {
  div {
    width: 94%;
  }
}
@media screen and (min-width: 361px) and (max-width: 768px) {
  div {
    width: 96%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  div {
    width: 720px;
  }
}
@media screen and (min-width: 1025px) {
  div {
    width: 996px;
  }
}
